@using UANodesetWebViewer.Models

@model ADTModel

@{
    ViewData["Title"] = "Azure Digital Twin Upload";
}
<h1>@ViewData["Title"]</h1>

<div class="row browser_top_container">
    @using (Html.BeginForm("Upload", "ADT"))
    {
        <div class="browser_connect_selection_textbox">
            <p>
                You first need to register this app with ADT, see <a href="https://docs.microsoft.com/en-us/azure/digital-twins/how-to-create-app-registration" target="_blank" rel="noopener noreferrer">here</a>.<br />
                Ensure this app has "Azure Digital Twins Data Owner" permissions to your ADT instance.
            </p>
            <p>
                ADT instance Url<br />
                @Html.TextBox("instanceUrl", null, new { style = "width:100%;" })<br />
            <p />
            <p>
                ADT tenant ID<br />
                @Html.TextBox("tenantId", null, new { style = "width:100%;" })<br />
            <p />
            <p>
                ADT client ID<br />
                @Html.TextBox("clientId", null, new { style = "width:100%;" })<br />
            <p />
            <p>
                ADT secret<br />
                @Html.TextBox("secret", null, new { style = "width:100%;" })<br />
            </p>
            <p>
                Upload the loaded nodeset files to Azure Digital Twin service<br />
                <input id="uploadButton" class="btn btn-primary btn_browser" type="submit" value="Upload">
            <p />
        </div>
    }
</div>
